@model EmployeeList_MVC.Models.Employee

@{
    Layout = null;
}

<div class="row">
    <div class="col-md-12">
        <form asp-action="AddOrEdit" asp-route-id="@Model.ID" onsubmit="return jQueryAjaxPost(this);">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="NIK" class="control-label"></label>
                        <input asp-for="NIK" class="form-control" />
                        <span asp-validation-for="NIK" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="FirstName" class="control-label"></label>
                        <input asp-for="FirstName" class="form-control" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="LastName" class="control-label"></label>
                        <input asp-for="LastName" class="form-control" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Select Department</label>
                        <select id="DepartmentID" class="form-control">
                            <option value="">-- Please choose --</option>
                            @foreach (var department in ViewBag.Departments)
                            {
                                <option value="@department.Value">@department.Text</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="JobTitleID" class="control-label"></label>
                        <select asp-for="JobTitleID" class="form-control">
                            <option value="">-- Please choose --</option>
                            @foreach (var jobTitle in ViewBag.JobTitles)
                            {
                                <option value="@jobTitle.Value">@jobTitle.Text</option>
                            }
                        </select>
                        <span asp-validation-for="JobTitleID" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Gender" class="control-label"></label><br />
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" asp-for="Gender" value="M" />
                            <label class="form-check-label" asp-for="Gender">Male</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" asp-for="Gender" value="F" />
                            <label class="form-check-label" asp-for="Gender">Female</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" asp-for="Gender" value="O" />
                            <label class="form-check-label" asp-for="Gender">Other</label>
                        </div>
                        <span asp-validation-for="Gender" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="PlaceOfBirth" class="control-label"></label>
                        <input asp-for="PlaceOfBirth" class="form-control" />
                        <span asp-validation-for="PlaceOfBirth" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="DateOfBirth" class="control-label"></label>
                        <input asp-for="DateOfBirth" class="form-control" type="date" />
                        <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                    </div>
                </div>
                <!-- Input for HireDate -->
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="HireDate" class="control-label"></label>
                        <input asp-for="HireDate" class="form-control" type="date" />
                        <span asp-validation-for="HireDate" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Address" class="control-label"></label>
                        <input asp-for="Address" class="form-control" />
                        <span asp-validation-for="Address" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Phone" class="control-label"></label>
                        <input asp-for="Phone" class="form-control" />
                        <span asp-validation-for="Phone" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-6 offset-md-3">
                    <input type="submit" value="Submit" class="btn btn-primary btn-block" />
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    $('#DepartmentID').change(function () {
        var departmentID = $(this).val();
        $.ajax({
            url: '/Employee/GetJobTitlesForDepartment',
            data: { departmentID: departmentID },
            success: function (data) {
                // Clear the JobTitle dropdown
                $('#JobTitleID').empty();

                // Populate the JobTitle dropdown with the returned options
                $.each(data, function (index, item) {
                    $('#JobTitleID').append('<option value="' + item.value + '">' + item.text + '</option>');
                });
            }
        });
    });
</script>